.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-bottom: 2px solid black;
}
.logo-container img {
  height: 100px;
}
.link-container,
.auth-container {
  display: flex;
  height: max-content;
  list-style: none;
  justify-content: space-between;
}
.link-container {
  width: 30rem;
}
.auth-container {
  width: 15rem;
  font-weight: bold;
  font-size: 20px;
}
.link-container li a,
.auth-container li a {
  color: black;
  text-decoration: none;
  transition: all 0.1s;
}
.link-container li a:hover,
.auth-container li a:hover {
  color: hotpink;
  border-bottom: 3px solid hotpink;
}
@media screen and (max-width: 1000px) {
    .link-container {
        display: none;
    }
  }
  

